
{% extends 'base.html' %}

{% block title %} Gallery {% endblock %}

{% block css %}<link rel="stylesheet" href="../static/css/gallery.css">{% endblock %}
{% block js %}<script type="text/javascript" src="../static/js/gallery.js"></script>{% endblock %}

{% block content %}
    <div id="desciption">
        <h2>Images of each monument that is stored in the database</h2>
        <h4>Whether it's a towering statue of a historical figure, a grand temple dedicated to deity, or a simple memorial to honor those who have passed, these structures have a way of capturing our attention and inspiring a sense of awe and wonder. So, we should always try to preserve and appreciate beautiful monuments.</h4>
    </div>

    <div id="gallery">
        <hr><br>
        <div class="row">
            {% for monument in monuments %}
                <div class="column">
                    <img src="{{ monument[7] }}" alt="{{ monument[1] }}" style="width:100%" onclick="myFunction(this);">
                </div>
            {% endfor %}
        </div>

        <div class="overlay">
            <div class="overlay-content">
                <img id="expandedImg" style="width:200%">
                <div id="imgtext"></div>
                <span onclick="this.parentElement.parentElement.style.display='none'" class="closebtn">&times;</span>
            </div>
        </div>
        <br><br>
    </div>
{% endblock %}

