body {
    margin: 0 auto;
    color: white;
    background-color: #202124;
    background-position:center;
    background-size: contain;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.5s;
}

body.active {
    background-color: whitesmoke;
    color: black;
}

#github{
    width: 55px;
    opacity: 0.85;
    border-width: 0px;border:0px;
    border-radius: 25px;
    position: absolute;
    left: 15px;
    top: 10px;
}

p {
    padding-right: 20px;
}

h1 {
    font-size: 50px;
}

.menu {
    transition: 0.7s;
    z-index: 12;
    position: sticky;
    top: 0;
    background-color: #282A35;
    padding:10px 0px 22px 0px;
    color:white;
    overflow: hidden;
}

.menu.active {
    background-color: rgb(28,29,31);
}

.menu a {
    color: white;
    text-align: center;
    padding: 11px 8px;
    text-decoration: none;
    font-size: 28px;
}

.menu a:hover {
    color: pink;
    text-decoration: underline;
    font-weight: bold;
}

.menu.transparent {
    opacity: 0.7;
}

section {
    margin-left:20px;
    font-size: 20px;
}

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #181a1e;
    color: #fff;
    padding-top:3px;
    padding-bottom:12px;
    text-align:center;
    font-size:12px;
}

footer.active {
    background-color: #2f2f35;
    color: white;
}

footer p {
    margin: 0px;
    margin-top: 9px;
}

#home {
    font-size: 38px;
    margin-right: -4px;
}

#toggle {
    position:absolute;
    top: 25%;
    right: 2%;
    display:block;
    width:80px;
    height:40px;
    border-radius:160px;
    background:#222;
    transition:0.5s;
    cursor: pointer;
    box-shadow:     inset 0 8px 60px rgba(0,0,0,0.1),
                    inset 0 8px 8px rgba(0,0,0,0.1),
                    inset 0 -4px 4px rgba(0,0,0,0.1);
}

#toggle.active {
    background-color: whitesmoke;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

#toggle .indicator {
    position:absolute;
    top:0;
    Left:0;
    width:40px;
    height:40px;
    background:linear-gradient(to bottom,#444,#222);
    border-radius:50%;
    transform:scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 4px 4px rgba(255,255,255,0.2)
                inset -4px 4px rgba(255,255,255,0.2);
    transition: 0.5s;
}

#toggle.active .indicator {
    left: 40px;
    background:linear-gradient(to bottom,#999999,#c2c2c2);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 4px 4px rgba(255,255,255,1)
                inset -4px 4px rgba(255,255,255,1);
}
