/*Each selector with ".active" is used when website is in light mode*/

.mySlides {
    display: none
    z-index: 0;
}

#monument {
    vertical-align: middle;
    height: 50%;
    width: 50%;
    border-radius: 25px;
}

.slideshow-container {
    max-width: 80%;
    position: relative;
    margin: auto;
    top: 30px;
    overflow: hidden;
}

#isolated {
    max-width: 80%;
    position: absolute;
    margin: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#prev, #next {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 25px;
    user-select: none;
    background-color: rgb(130, 126, 128);
}

#prev {
    left: -33.5vw;
    top: 300px;
}

#next {
    right: -33.5vw;
    top: 300px;
}

#prev:hover, #next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 1%;
    left: 25%;
    overflow: hidden;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    top: 30.5vw;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    #prev, #next,.text {font-size: 11px}
    .dot{
    height: 10px;
    width: 10px;}
}

@media only screen and (max-width: 500px) {
#prev, #next, .text {font-size: 14px}
}

.slideshow-container p {
    position: relative;
    top: -40px;
}
