<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">FlaskApp</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
<style>
    {% block style %}
      body {
      background-color: red;
      color: white
      }
    {% endblock %}
</style>
<! –– if it will be posiible move style part to head ––>
</html>
