<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- FlaskApp</title>

    <style>
    {% block style %}
      body {
      background-color: red;
      color: white
      }
    {% endblock %}
</style>
</head>

<body>
    <!-- Menu Navigation Bar -->
    <nav class="menu">
        <a href="{{ url_for('home_page') }}">Home</a>
        <a href="{{ url_for('about_page') }}">About</a>
        <a href="{{ url_for('gallery_page') }}">Gallery</a>
    </nav>

    <hr>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
