
{% extends 'base.html' %}

{% block style %}
      body {
      background-color: green;
      color: white
      }
{% endblock %}

{% block content %}
    <h1>{% block title %} Home {% endblock %}</h1>

    {% for book in books %}
        <div class='book'>
            <h3>#{{ book[0] }} - {{ book[1] }} BY {{ book[2] }}</h3>
            <i><p>({{ book[3] }} pages)</p></i>
            <p class='review'>{{ book[4] }}</p>
            <i><p>Added {{ book[5] }}</p></i>
            <h1>DZIALA JESTES W HOME</h1>
        </div>
    {% endfor %}

{% endblock %}
